out/
build/
bin/
x64/
x86/
[Dd]ebug/
[Rr]elease/
*.exe
*.dll
*.pdb
*.lib
.vs/
*.user
*.sln
*.vcxproj
*.vcxproj.filters
*.dir/
*.ide/
*.suo
*.cache
*.db
*.opendb
vcpkg_installed/
ThirdParty/installed/
ThirdParty/buildtrees/
ThirdParty/packages/
haxe_bin/
*.hclog
.DS_Store
Thumbs.db
OldC/